extends ./app/base.pug

//- Required variables (please override to suit your needs)
block vars
  -
    var author = 'Tallys and Paulo and Dylan and Luan and Ricardo and Henrique';
    var title = 'Empurrando Juntos (Pushing Together): A platform for social participation';


block slides
  +slide('-1000', '-1500')
    p Problem: Engagement and bubbles of opinion
    ul.small
      li Threaded architecture as a barrier on civic tech platforms
      li Popular social media non-transparent algorithms get people stuck in bubbles of opinion
      li Unbalanced dialogue and misinformation

  +slide()
    p About Pol.is
    ul.small
      li Web tool that uses A.I. to show the different opinion groups in a discussion
      li Based on crowdsource participation (agree, disagree or skip)
      li Clustering algorithms identify the different groups of opinion
      li Majority/Minority and group consensus are shown in a graph, realtime

  +slide()
    p What is EJ? Why EJ?
    ul.small
      li A Free Software for social participation that aims to increase
      communication between majority and minority, blowing bubbles of opinion
      li Built on top of Polis, goes beyond by adding new features that offer
      more interaction to the discussions
      li Uses gamification to explore the different profiles of participants
      as a mean to bring diversity to online discussions

  +slide()
    p EJ features
    ul.small
      li Uses Polis engine to obtain the groups of opinion
      li Provides a resource that we called “the Push". People in ownership of
      this ability (gamification) can access special features in the platform
      li Diferent kind of powers are avaiable: create events, notify on new
      proposals and send messages

  +slide()
    p EJ System Architecture
    ul.small
      li Front-end application, written in React Native and a NodeJS server
      li Server module manage users, host "The Push" and make the interface
      with Polis API.

  +slide()
    p Integration with Polis
    ul.small
      li Register the participats on Polis through the xID (external id)
      parameter in the API
      li Polis conversations can be easily embed with Javascript snippets
      li EJ calculates the profiles based on the conversation data, and in
      the future this will be included in the core of the clusters math to
      provide it through an API

  +slide()
    p Final Remarks
    ul.small
      li EJ arises as a potential tool to bridge dialog between society and the state
      li The Push resource try to mitigate bubbles of opinion and manipulation
      problems
      li We are now working on a research to evolve the clustering service
      li All our contributions are published in open repositories available at:
      . github.com/cidadedemocratica/pushingtogether
      . github.com/cidadedemocratica/app_pushingtog
